<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-wh0Q7Vr7H-EHzb0NYkQAPLJHyzCQj3s&callback=initMap"
  type="text/javascript"></script>


<script src="{{ "/js/site.js" | prepend: site.baseurl }}"></script> 
<!-- <script src="js/site.js"></script>-->
