<!-- Team Section -->
    <section>
      
        <div class="row">
            {% for member in site.people %}
            <div class="col-sm-6">
                <div class="team-member">
                    <img src="img/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                    <h4>{{ member.name }}</h4>
                    <p>{{ member.position }}</p>
                    <ul class="list-inline social-buttons">
                        {% for network in member.social %}
                        <li>
                            <a href="mailto:{{ network.email }}">
                                <i class="fa fa-{{ network.title }}"></i>
                            </a>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
        <br>
    </section>